{
    "s1": wave(form: saw, bend: static(0.3)),
    "s2": wave(form: noise),
    "filter1": filter(
        input: "s1",
        value: control(number: 1, bounds: (0, 1))
    ),
    "bal1": balance(
        input: "filter1",
        volume: control( number: 28, ),
    ),
    "filter2": filter(
        input: "s2",
        value: control(number: 1, bounds: (0, 0.7))
    ),
    "bal2": balance(
        input: "filter2",
        volume: control( number: 28, ),
    )
}