{
    "s1": wave(form: saw),
    "s2": wave(form: noise),
    "filter1": filter(
        input: "s1",
        value: control(number: 1, bounds: (0, 1))
    ),
    "filter2": filter(
        input: "s2",
        value: control(number: 1, bounds: (0, 0.7))
    ),
}