{
    "s": wave(
        form: saw,
        bend: static(0.3),
        attack: static(0)
    ),
    "filter": filter(
        input: "s",
        value: control(number: 1)
    ),
    "bal": balance(
        input: "filter",
        volume: control( number: 27, ),
    ),
    "d": drums(["kick.wav", "clap.wav", "hat.wav"])
}