{
    "launchkey": controller(
        device: "Launchkey",
        non_globals: [1],
        buttons: {
            record: control(117),
            stop_recording: control(115),
        },
        ranges: {
            drum(1, (0, 3)): channel_note(10, (36, 39))
        },
        sliders: {
            tempo: control(21),
            master_volume: control(22),
        }
    ),
    "launchpad": controller(
        device: "Launchpad",
        ranges: {
            drum(1, (0, 8)): note((0, 16)),
            record_loop((0, 8)): note((16, 32)),
            toggle_loop((0, 8)): note((32, 48)),
        }
    ),
    "gamepad": controller(
        gamepad: true,
        buttons: {
            record: control(2),
            stop_recording: control(3),
        }
    ),
    "load1": load(1, "specs/example1.ron"),
    "load2": load(2, "specs/example2.ron"),
}